node_modules/
dist/
build/

.env
.env.local
.env.production
k8s/secret.yaml

*.log

.DS_Store
Thumbs.db

auth-service/prisma/migrations/dev.db
services/course-catalog-service/prisma/migrations/dev.db

coverage/
.vscode/
.idea/
